input[type="text"] {
    padding: 10px;
    font-size: 16px;
}

.btn-timer-start {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn-timer-start:disabled {
    padding: 10px 20px;
        background-color: #F0F0F0;
        color: rgb(20, 20, 20);
        font-size: 16px;
        cursor: not-allowed;
}

.timer {
    display: flex;
    font-size: 36px;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

.value {
    color: #4CAF50;
}

.label {
    font-size: 18px;
    color: #999;
}